{% if section.settings %}
  {% assign config = section.settings %}
  {% assign isSchemaData = true %}
{% endif %}

{% if key %}
{% if product.metafields.aplus[key].value %}
  {% assign config = product.metafields.aplus[key].value %}
{% else %}
  {% assign config = product.metafields.aplus[key] %}
{% endif %}

  {% assign isSchemaData = false %}
{% endif %}

<section class="aplus aplus-four-images">
  <div class="aplus-four-images__title">
    {{ config.headline }}
  </div>
  <div class="aplus-four-images__card-list">
    {% for card in cards %}
      <div class="aplus-four-images__card">
        <div class="aplus-four-images__card-image">
          {% render 'lazyload_image'
            isSchemaData: isSchemaData,
            src: card.imageUrl
          %}
        </div>
        <div class="aplus-four-images__card-title">{{ card.headline }}</div>
        <div class="aplus-four-images__card-description">{{ card.body }}</div>    
      </div>
    {% endfor %}
  </div>
</section>
