<script>
  $(function() {
    const referral_approved = Shopify.theme.custom.GetQueryValue('referral_approved');
    if(referral_approved === 'false') {
      openModal(`<p>{{ common.referral_approved }}</p>`);
    };
  })
</script>