<script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css"/>
<section class="home_media home_slick {{ section.settings.arrows_color }}">
  <div class="wrap">
    {% if section.settings.media_title != blank %}
      <div class="title"><h4>{{ section.settings.media_title }}</h4></div>
    {% endif %}
    <div class="media-slick-slider">
      {% for block in section.blocks %}
        <div class="item">
          <div class="image">
            {% render 'image-element', image: block.settings.img %}
          </div>
          <div class="text">
            <p class="detail">{{ block.settings.detail }}</p>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</section>

<script>
  $(document).ready(function(){
    // 滑动模块
    const w = document.body.offsetWidth;
    const num = w > 767 ? 3 : 1;
    $('.media-slick-slider').slick({
      infinite: true,
      speed: 500,
      slidesToShow: num,
      easing: 'linear'
    });
  })
</script>


{% schema %}
{
  "name": "ActivityMedia",
  "class": "ActivityMedia",
  "max_blocks": 20,
  "presets": [
    {
      "category": "SmartScale P2 Pro Banner3 Sections",
      "name": "ActivityMedia"
    }
  ],
  "settings": [
    {
      "type": "text",
      "id": "media_title",
      "label": "ActivityMedia Title"
    },{
      "type": "text",
      "id": "arrows_color",
      "label": "Arrows Color",
      "default": "light"
    }
  ],
  "blocks": [
    {
      "type": "media_txt",
      "name": "media_txt",
      "settings": [
        {
          "type": "image_picker",
          "id": "img",
          "label": "img"
        },
        {
          "type": "text",
          "id": "detail",
          "label": "detail"
        }
      ]
    }
  ]
}
{% endschema %}
