<div class="{% if section.settings.include_margins %}page-width{% endif %}">
  {%- for block in section.blocks -%}
    {% render block %}
  {%- endfor -%}

</div>

{% schema %}
{
  "name": "Apps",
  "tag": "section",
  "class": "spaced-section",
  "settings": [
    {
      "type": "checkbox",
      "id": "include_margins",
      "default": true,
      "label": "include_margins"
    }
  ],
  "blocks": [
    {
      "type": "@app"
    }
  ],
  "presets": [
    {
      "name": "t:sections.apps.presets.name"
    }
  ]
}
{% endschema %}
