{% assign lang = product.metafields.global %}

{% if lang.monitor.value %}
  {% assign monitor = lang.monitor.value %}
{% else %}
  {% assign monitor = lang.monitor %}
{% endif %}



<div class="eufycare_monitor_2">
  <div class="banner_2">
    <img class="pc1_show lazyload" data-src="{{ monitor.bg2_img }}" alt="">
    <img class="mob1_show lazyload" data-src="{{ monitor.bg2_img_mob }}" alt="">
    <div class="banner_bg2_content">
      <p class="bg2_p1">{{ monitor.bg2_p1 }}</p>
      <p class="bg2_p2">{{ monitor.bg2_p2 }}</p>
    </div>
  </div>
</div>

