<section class="page-SecurityDownload">
  <div class="banner">
    <div class="img"> <img src="https://dz02g1kgtiysz.cloudfront.net/deals/files/200315_172129_img3493-.png"></div>
    <div class="txt">
      <div class="box">
        <div class="txtBox">
          <h1>Security App Download</h1>
          <p>Simply download the eufy Security app from the App Store (iOS devices) or Google Play (Android devices) and have full control over all security products.</p>
        </div>
      </div>
    </div>
  </div>

  <div class="intro">

    <div class="item" data-index="001" style="opacity: 1; transition: all 0.4s ease 0s;">
      <div class="img pc_img"> <img class="lazyload" data-src="https://dz02g1kgtiysz.cloudfront.net/deals/files/200315_181615_web1.png"></div>
      <div class="txt">
        <div class="ico">
           <img class="lazyload security_icon"  data-src="https://dz02g1kgtiysz.cloudfront.net/deals/files/200315_175202_eufy-security.png">
          <div class="app_icon">
            <a href="https://itunes.apple.com/app/id1424956516"> <img class="lazyload" data-src="https://dz02g1kgtiysz.cloudfront.net/deals/files/200318_172634_ios-app-badge-fd60a24e3e78e27dcb40a055bcc4240d.png"></a>
            <a href="https://play.google.com/store/apps/details?id=com.oceanwing.battery.cam"> <img class="lazyload" data-src="https://dz02g1kgtiysz.cloudfront.net/deals/files/200318_172643_google-play-badge-bee4580abbcbc4c93793e5614765c237.png"></a>
            <a href="https://mysecurity.eufylife.com"> <img class="lazyload" data-src="https://dz02g1kgtiysz.cloudfront.net/deals/files/200318_172648_web-portal-icon.png"></a>
          </div>
        </div>
        <div class="txtBox">
          <h1>A whole-home security system</h1>
          <p>We have designed a whole-home security system that covers every corner of your home, giving you peace of mind anytime, anywhere. </p>
           <img class="lazyload" data-src="https://dz02g1kgtiysz.cloudfront.net/deals/files/200315_175357_222.png">
        </div>
      </div>
      <div class="img mob_img"> <img class="lazyload" data-src="https://dz02g1kgtiysz.cloudfront.net/deals/files/200315_181615_web1.png"></div>
    </div>

    <div class="item" data-index="002" style="opacity: 0; transition: all 0.4s ease 0s;">
      <div class="img pc_img"> <img class="lazyload" data-src="https://dz02g1kgtiysz.cloudfront.net/deals/files/200315_181621_web2.png"></div>
      <div class="txt">
        <div class="ico"> <img class="lazyload security_icon"  data-src="https://dz02g1kgtiysz.cloudfront.net/deals/files/200315_175202_eufy-security.png">
          <div class="app_icon">
            <a href="https://itunes.apple.com/app/id1424956516"> <img class="lazyload" data-src="https://dz02g1kgtiysz.cloudfront.net/deals/files/200318_172634_ios-app-badge-fd60a24e3e78e27dcb40a055bcc4240d.png"></a>
            <a href="https://play.google.com/store/apps/details?id=com.oceanwing.battery.cam"> <img class="lazyload" data-src="https://dz02g1kgtiysz.cloudfront.net/deals/files/200318_172643_google-play-badge-bee4580abbcbc4c93793e5614765c237.png"></a>
            <a href="https://mysecurity.eufylife.com"> <img class="lazyload" data-src="https://dz02g1kgtiysz.cloudfront.net/deals/files/200318_172648_web-portal-icon.png"></a>
          </div>
        </div>
        <div class="txtBox">
          <h1>Instant Alerts and Local AI</h1>
          <p>The eufy Security app allows you to receive instant notifications when activity is detected. The local AI protects the privacy of your security data and footage.</p>
           <img class="lazyload" data-src="https://dz02g1kgtiysz.cloudfront.net/deals/files/200315_175357_222.png">
        </div>
      </div>
      <div class="img mob_img"> <img class="lazyload" data-src="https://dz02g1kgtiysz.cloudfront.net/deals/files/200315_181621_web2.png"></div>
    </div>

    <div class="item" data-index="003" style="opacity: 0; transition: all 0.4s ease 0s;">
      <div class="img pc_img"> <img class="lazyload" data-src="https://dz02g1kgtiysz.cloudfront.net/deals/files/200315_181627_web3.png"></div>
      <div class="txt">
        <div class="ico">
           <img class="lazyload security_icon"  data-src="https://dz02g1kgtiysz.cloudfront.net/deals/files/200315_175202_eufy-security.png">
          <div class="app_icon">
            <a href="https://itunes.apple.com/app/id1424956516"> <img class="lazyload" data-src="https://dz02g1kgtiysz.cloudfront.net/deals/files/200318_172634_ios-app-badge-fd60a24e3e78e27dcb40a055bcc4240d.png"></a>
            <a href="https://play.google.com/store/apps/details?id=com.oceanwing.battery.cam"> <img class="lazyload" data-src="https://dz02g1kgtiysz.cloudfront.net/deals/files/200318_172643_google-play-badge-bee4580abbcbc4c93793e5614765c237.png"></a>
            <a href="https://mysecurity.eufylife.com"> <img class="lazyload" data-src="https://dz02g1kgtiysz.cloudfront.net/deals/files/200318_172648_web-portal-icon.png"></a>
          </div>
        </div>
        <div class="txtBox">
          <h1>Security Modes and Automation</h1>
          <p>You can use Geofencing and set schedules to flexibly customize security modes based on your home and away preferences. You can also link multiple devices via the eufy Security app.</p>
           <img class="lazyload" data-src="https://dz02g1kgtiysz.cloudfront.net/deals/files/200315_175357_222.png">
        </div>
      </div>
      <div class="img mob_img"> <img class="lazyload" data-src="https://dz02g1kgtiysz.cloudfront.net/deals/files/200315_181627_web3.png"></div>
    </div>

    <div class="nav">
      <a><i class="iconfont"></i></a>
      <div class="nav_box">
        <span class="nav_1" opacity="1">001</span>
        <span class="nav_2" opacity="0">002</span>
        <span class="nav_3" opacity="0">003</span>
        <span class="nav_tit">003</span>
      </div>
      <a><i class="iconfont"></i></a>
    </div>
  </div>
</section>

<script>
  $(document).ready(function() {

  });
</script>

