<div class="page_t8423_sign_up">

  <div class="sign_up_bar">
    <div class="wrap">
      <p>Win Floodlight Cam 2 Pro</p>
      <a id="go_sign_up" href="#subscribeCover">Sign Up</a>
    </div>
  </div>

  <div class="banner" id="t8423_banner">
    <div class="sticky_container">
      <div class="bg">
        <img src="https://cdn.shopify.com/s/files/1/0504/1094/6753/files/7e70015d084f5f5b28dbcfc624b86e4b.png?v=1621847483" />
      </div>
      <div class="img">
        <img src="https://cdn.shopify.com/s/files/1/0504/7094/4954/files/Floodlight_Cam_2_Pro_-_Banner_1964ff20-4770-4f24-8beb-15abd78ec2f6.png?v=1622628952" />
      </div>
      <div class="count_down">
        <div class="count">
          <h3 class="count_title">The future of home security is coming soon...</h3>
          <ul class="count_box">
            <li><p class="days num"></p><p class="txt">Days</p></li>
            <li><p class="hours num"></p><p class="txt">Hours</p></li>
            <li><p class="mins num"></p><p class="txt">Minutes</p></li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="signup" id="floodlight_vr">
    <div class="sticky_container">
      <div class="bg">
        <div class="tips">See in 360°</div>
        <iframe class="lazyload" width='100%' height='100%' data-src='https://roundme.com/embed/PP1rG32nR5jDBcWnMWO4' frameborder='0' webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
        <p class="txt">*This is an illustrative demonstration and actual product experience may differ.</p>
      </div>
      <div class="cover"></div>
      <div class="aniTxt">
        <div class="txtBox">
          <p class="txt1">Watch</p>
          <p class="txt2">In</p>
          <p class="txt3">Every</p>
          <p class="txt4">Direction</p>
        </div>
      </div>

      <div class="icon">
        <img class="lazyload" data-src="https://cdn.shopify.com/s/files/1/0504/1094/6753/files/01.svg?v=1621850386" />
      </div>

    </div>
  </div>

  <div class="image is-hidden-mobile-only">
    <img class="lazyload" data-src="https://cdn.shopifycdn.net/s/files/1/0504/7094/4954/files/30e52f62df04da4775935f9c68e7bfbb.jpg?v=1622647454" />
  </div>
  <div class="image is-hidden-desktop-only">
    <img class="lazyload" data-src="https://cdn.shopifycdn.net/s/files/1/0504/7094/4954/files/740c6125f0a59a896a7c1b51410a296d_a5d2ed5f-a63f-4fb2-8b2b-584ad331397c.jpg?v=1622646189" />
  </div>

  <div id="subscribeCover" class="subscribeCover">
    <div class="subscribeBox">
      <div class="bg">
        <img class="lazyload" data-src="https://cdn.shopify.com/s/files/1/0504/7094/4954/files/1_7d2c4d17-92ac-4c84-9bc2-e321d90b85a6.jpg?v=1622613906" />
      </div>
      <div class="box">
        <div class="txt">
          <h3>Floodlight Cam 2 Pro</h3>
          <a class="subscribe_tips">
            <img class="lazyload" data-src="https://cdn.shopifycdn.net/s/files/1/0504/7094/4954/files/see_floodlight_cam_2_pro_in_atcion-01.svg?v=1622552742" />
          </a>
          <p>Sign up to our newsletter to be in with a chance of winning 1 of 7 Floodlight Cam 2 Pro. You’ll also be first to hear about the latest news and release date for Floodlight Cam 2 Pro.</p>
        </div>
        {% render 'subscribe-form', 
          type: 'block',
          snippets_id: 't8423_sign_up',
          deals_type: 't8423_signup',
          dataLayer: 't8423_signup',
          submit_position: 'bottom',
          policy_text: "I consent to the <a href='/policies/terms-of-service' target='_blank' rel='noopener noreferrer'>Terms of Use</a>, <a href='/policies/privacy-policy' target='_blank' rel='noopener noreferrer'>Privacy Policy</a> and <a class='openRules'>Rules</a>"
          captchaShow: true,
          info_select_policy: "Please agree to the Terms of Use, Privacy Policy and Rules."
        %}
      </div>
    </div>
  </div>

  <div id="videoCover">
    <div class="box">
      <iframe class="lazyload" width="560" height="315" data-src="https://www.youtube.com/embed/5atCVXzZ1cA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    <a class="closeVideo"><i class="iconfont">&#xe723;</i></a>
  </div>

</div>

<style>
  .mymodal, .mymodal .modalContent { background: #000; }
  .mymodal i { font-size: 22px; color: #fff; }
  .mymodal #modal_con .title { color: #fff; font-size: 26px; margin-bottom: 2rem; font-weight: 600; justify-content: center; }
  .mymodal #modal_con p { color: #fff; font-size: 16px; }
  .mymodal .dialogModal { max-width: 800px; }
  .mymodal #modal_con { color: #fff; }
  .mymodal #modal_con p {
    display: flex;
  }
  .mymodal #modal_con p span {
    display: block;
  }
  .mymodal #modal_con p span:first-child {
    margin-right: 2rem;
  }
  @media screen and (max-width: 767px) {
    .mymodal #modal_con p { font-size: 14px; }
    .mymodal #modal_con .title { font-size: 20px; margin-bottom: 1rem; }
  }
</style>

<script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js" integrity="sha512-qTXRIMyZIFb8iQcfjXWCO8+M5Tbc38Qi5WzdPOYZHIlZpzBHG3L3by84BBBOiRGiEb7KKtAOAs5qYdUiZiQNNQ==" crossorigin="anonymous"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/moment-timezone/0.5.32/moment-timezone.min.js"></script>

<script>
  const end_time = "2021/07/27 16:00";
  let days;
  let hours;
  let mins;
  let daysInt;
  let hoursInt;
  let minsInt;
  let daysNum = 0;
  let hoursNum = 0;
  let minsNum = 0;
  let show_icon = true;
  
  setInterval(() => {
    let start = moment().utc();//获取开始时间
    let end = moment(end_time);//结束时间
    let diff = end.diff(start);//时间差
    days = moment.duration(diff).days();
    hours = moment.duration(diff).hours();
    mins = moment.duration(diff).minutes();
  }, 1000)

  $(document).ready(function(){
    $('.closeRules').click(() => {
      $('#floodlight_vr .subscribeCover').css('display', 'none');
    })
    $('.openRules').click(() => {
      openModal('<p class="title">Rule of Activity</p><p><span>&nbsp;&nbsp;1.</span><span>This event is open to residents in the US only.</span></p><p><span>&nbsp;&nbsp;2.</span><span>This event runs from June 2 through July 27, 2021.</span></p><p><span>&nbsp;&nbsp;3.</span><span>Enter your email for a chance to win (you must use a real email address).</span></p><p><span>&nbsp;&nbsp;4.</span><span>No purchase necessary, shipping is free.</span></p><p><span>&nbsp;&nbsp;5.</span><span>By entering your email, you will automatically subscribe to Eufy.com and agree to our Terms of Use and Privacy Policy.</span></p><p><span>&nbsp;&nbsp;6.</span><span>Every week 1 winner will be chosen at random to win a eufy Floodlight Cam 2 Pro.</span></p><p><span>&nbsp;&nbsp;7.</span><span>Those who subscribe but don’t win will receive an invitation letter and notice of release date.</span></p><p><span>&nbsp;&nbsp;8.</span><span>Winners will receive a confirmation email. Please make sure that your delivery address is accurate. If the address is wrong, your prize will not be sent. If you do not receive your prize, please contact our customer service team.</span></p><p><span>&nbsp;&nbsp;9.</span><span>Prizes will start shipping in batches in early August.</span></p><p><span>10.</span><span>Physical prizes cannot be returned or exchanged.</span></p><p><span>11.</span><span>For users who are caught cheating (such as those using machine swiping tickets, etc.) we have the right to cancel your prize and hold you accountable.</span></p><p><span>12.</span><span>Anker reserves the right of final explanation.</span></p>')
    })
    $('#floodlight_vr .icon').click(() => {
      show_icon = false;
      $('#floodlight_vr .icon').css({ display: "none" });
    });
    $('#subscribeCover .subscribe_tips').click(() => {
      $('#videoCover').css({ display: "block" });
    });
    $('#videoCover .closeVideo').click(() => {
      $('#videoCover').css({ display: "none" });
    });

    const $vr = document.getElementById('floodlight_vr');
    const $vrSticky = $vr && $vr.getElementsByClassName('sticky_container') && $vr.getElementsByClassName('sticky_container')[0];
    const $banner = document.getElementById('t8423_banner');
    const $bannerSticky = $banner && $banner.getElementsByClassName('sticky_container') && $banner.getElementsByClassName('sticky_container')[0];

    setScrollTop = () => {
      const screenHeight = window.innerHeight - 70;
      if ($vr) $vr.style.height = `${screenHeight * 3.5}px`;
      if ($vrSticky) $vrSticky.style.height = `${screenHeight}px`;
      if ($banner) $banner.style.height = `${screenHeight * 2.5}px`;
      if ($bannerSticky) $bannerSticky.style.height = `${screenHeight}px`;
      const vrTop = $vr && $vr.getBoundingClientRect().top;
      vrScrolled = - (vrTop / (screenHeight * 2.5));
      const bannerTop = $banner && $banner.getBoundingClientRect().top;
      bannerScrolled = - (bannerTop / (screenHeight * 1.5));

      if (bannerScrolled >= 0.3 && bannerScrolled < 0.7) {
        $('#t8423_banner .img').css('top', `${8 - 14 * (bannerScrolled - 0.3) / 0.4}%`);
        $('#t8423_banner .count_down').css({
          bottom: `${-15 + 30 * (bannerScrolled - 0.3) / 0.4}%`,
          opacity: '1'
        });
      } else if (bannerScrolled < 0.3) {
        $('#t8423_banner .count_down').css({ opacity: '0' });
        $('#t8423_banner .img').css('top', '8%');
      }

      if (bannerScrolled > 0.2) {
        if(!daysInt) {
          daysInt = setInterval(() => {
            if (daysNum <= days) {
              $(`#t8423_banner .days`).text(`${daysNum}`);
              daysNum += 1;
            } else {
              clearInterval(daysInt);
            }
          }, 50)
        }
        if(!hoursInt) {
          hoursInt = setInterval(() => {
            if (hoursNum <= hours) {
              $(`#t8423_banner .hours`).text(`${hoursNum}`);
              hoursNum += 1;
            } else {
              clearInterval(hoursInt);
            }
          }, 50)
        }
        if(!minsInt) {
          minsInt = setInterval(() => {
            if (minsNum <= mins) {
              $(`#t8423_banner .mins`).text(`${minsNum}`);
              minsNum += 1;
            } else {
              clearInterval(minsInt);
            }
          }, 50)
        }
      }

      if (bannerScrolled < 0.1) {
        daysInt = null;
        hoursInt = null;
        minsInt = null;
        daysNum = 0;
        hoursNum = 0;
        minsNum = 0;
      }

      // 位移
      if (vrScrolled > -0.1 && vrScrolled < 0.7) {
        $('#floodlight_vr .aniTxt').css('top', `${50 - (40 * (0.1 + vrScrolled)) / 0.8}%`);
      }
      // 文字挨个显示
      if (vrScrolled < 0.7) {
        $('#floodlight_vr .aniTxt').css('opacity', '1');
      } else {
        $('#floodlight_vr .aniTxt').css('opacity', '0');
      }
      if (vrScrolled > 0.1) {
        $('#floodlight_vr .aniTxt .txt2').css('opacity', '1');
      } else {
        $('#floodlight_vr .aniTxt .txt2').css('opacity', '0');
      }
      if (vrScrolled > 0.3) {
        $('#floodlight_vr .aniTxt .txt3').css('opacity', '1');
      } else {
        $('#floodlight_vr .aniTxt .txt3').css('opacity', '0');
      }
      if (vrScrolled > 0.5) {
        $('#floodlight_vr .aniTxt .txt4').css('opacity', '1');
      } else {
        $('#floodlight_vr .aniTxt .txt4').css('opacity', '0');
      }
      // 背景显现
      if (vrScrolled > 0.1 && vrScrolled < 0.7) {
        $('#floodlight_vr .cover').css('opacity', `${1 - (vrScrolled - 0.1) / 0.6}`);
        $('#floodlight_vr .icon').css({ display: 'none' });
        $('#floodlight_vr .tips').css({ display: 'none' });
      } else if (vrScrolled >= 0.7) {
        $('#floodlight_vr .cover').css({opacity: '0', pointerEvents: 'none'});
        if(show_icon) {
          $('#floodlight_vr .icon').css({ display: 'block' });
          $('#floodlight_vr .tips').css({ display: 'block' });
        }
      }
      
    }

    // 将动画绑定在滚动条上
    window.addEventListener('scroll', setScrollTop);
  })
</script>
