<div class="wlc-ces">
  <h3>{{ section.settings.title }}</h3>
  <div class="swiper-card">
    <div class="swiper-container">
      <div class="swiper-wrapper">
        {% for block in section.blocks %}
          <div class="swiper-slide">
            <div class="swiper-inner">
              <div class="card-title">{{ block.settings.tit }}</div>
              <p class="card-desc">{{ block.settings.desc }}</p>
            </div>
          </div>
        {% endfor %}
      </div>
      <div class="swiper-button-prev"></div>
      <div class="swiper-button-next"></div>
    </div>
  </div>
</div>

<script>
  $(function() {
    var swiper = new Swiper('.swiper-container', {
      navigation: {
        nextEl: '.swiper-button-next',
        prevEl: '.swiper-button-prev',
      }
    });
  });
</script>

{% schema %}
{
  "name": "wlc feature 2",
  "settings": [{
    "type": "textarea",
    "id": "title",
    "label": "标题"
  }],
  "blocks": [{
     "type": "card",
     "name": "card",
     "settings": [{
       "type": "textarea",
       "id": "tit",
       "label": "标题"
      },{
       "type": "textarea",
       "id": "desc",
       "label": "副标题"
      }]
   }]
 }
{% endschema %}