@mixin trans ($speed: 0.5s, $type: transform) {
  will-change: $type;
  transition: $type $speed cubic-bezier(0.76, 0, 0.24, 1);
}

.index__media-box {
  flex-direction: column;
  @media screen and (max-width: 768px) and (min-width: 376px) { 
    padding-bottom: 120px;
    padding-left: 24px;
    padding-right: 24px;
  }
  @media screen and (max-width: 375px){
    padding-bottom: 70px;
    padding-left: 16px;
    padding-right: 16px;
  }
}
.index__media-info{
  display: flex;
  justify-content: center;
  background: #F5F5F7;
}
.index__media-info-wrap{
  height: 220px;
}

.index__media-info-list{
  position: relative;
  height: 100%;
}

.index__media-info-item{
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  transform: translateY(-50%);
  opacity: 0;
  @include trans(0.5s, opacity);
  pointer-events: none;

  &.actived{
    opacity: 1;
    pointer-events: inherit;
    // transform: translateY(-50%);
  }
}

.index__media-info-content{
  font-size: 4.2vw;
  line-height: 1.36;
  font-weight: 600;
  color: #000;
  text-align: center;

  a {
    font-weight: 600;
    color: #03CDC4;
  }
  a:hover {
    text-decoration: underline;
  }

  @media (min-width: 414px) {
    font-size: 3.5vw;
  }

  @media (min-width: 769px) {
    font-size: 2vw;
  }

  @media (min-width: 1281px) {
    font-size: 1.8vw;
  }
}

.index__media-brand-wrap{
  position: relative;
}

.index__media-brand-list{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  @media (min-width: 769px) {
    flex-wrap: nowrap;
  }
}


.index__media-brand-item{
  margin: 0 0 6px;
  padding: 1px;
  border: 2px solid transparent;
  width: 25%;
  z-index: 2;
  @include trans(.5s, all);
  
  &.actived{
    background: #fff;
    // border-color: #00A9E1;
  }

  @media (min-width: 769px) {
    width: 12.5%;
    border-width: 0;
    padding: 2px;
    cursor: pointer;
  }

  @media (min-width: 1281px) {
    padding: 3px;
  }

  @media (min-width: 1900px) {
    padding: 6px;
  }
}

.index__media-brand-choose{
  @media (min-width: 769px) {
    box-sizing: border-box;
    position: absolute;
    top: 0;
    left: 0%;
    // border: 2px solid #00A9E1;
    width: 12.5%;
    height: calc(100% - 6px);
    pointer-events: none;
    background: #FFFFFF;
    z-index: 1;
    // transition: transform 0.5s cubic-bezier(0.34, 1.56, 0.64, 1);
    @include trans();

    // &::before{
    //   content: '';
    //   position: absolute;
    //   top: -15px;
    //   left: 50%;
    //   margin-left: -13px;
    //   border-left: 15px solid transparent;
    //   border-right: 15px solid transparent;
    //   border-bottom: 15px solid #00A9E1;
    // }

    // &::after{
    //   content: '';
    //   position: absolute;
    //   top: -13px;
    //   left: 50%;
    //   margin-left: -13px;
    //   border-left: 15px solid transparent;
    //   border-right: 15px solid transparent;
    //   border-bottom: 15px solid #fff;
    // }
  }

  @media (min-width: 1281px) {
    border-width: 3px;

    // &::after{
    //   top: -11px;
    // }
  }

  @media (min-width: 1900px) {
    border-width: 4px;

    // &::after{
    //   top: -10px;
    // }
  }
}
