$maxPhoneWidth: 767px;
$minPadWidth: 768px;
.col-1{
  width: 100%;
}
.col-2{
  width: 50%;
}
.col-3{
  width: 33.33333333333%;
}
.col-4{
  width: 25%;
}
.col-5{
  width: 20%;
}
.col-6{
  width: 16.6666667%;
}
.col-7{
  width: 14.2857143%;
}
.col-8{
  width: 12.5%;
}
.quiz-banner{
  display:  flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: auto;
  background: #E0EED2;
  overflow: hidden;
}
.dialog-wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.dialog-container{
  position: relative;
  border-radius: 2px;
  box-sizing: border-box;
  width: 1200px;
  height: auto;
  min-height: 750px;
}
.dialog-header{
  padding: 20px 20px 10px;
  .dialog-header-icon{
    position: absolute;
    top: 0px;
    right: 0px;
    cursor: pointer;
    width: 30px;
    height: 30px;
    background: #00490F;
    font-size: 16px;
    color: #FFFFFF;
    text-align: center;
  }
}
.dialog-body{
  padding: 30px;
  color: #606266;
  font-size: 14px;
  // word-break: break-all;
}
.quiz-container{ 
  position: relative;
  width: 100%;
  height: 100%;
}
.quiz-progressbar{
  width: 100%;
  height: 4px;
  margin: 20px 0;
  .progress-line{
    display: flex;
    width: 100%;
    height: 4px;
    background: rgba(0, 73, 15, 0.3);
  }
  .bar{
    height: 4px;
    width: 0%;
    background-color: #00490F;
  }
}
.quiz-progressbar .hidden{
  visibility: hidden;
}
.quiz-content{display:inline-block;position:absolute;width:100%;left:1400px;top:24px;}
.quiz-content-1{display:inline-block;position:relative;width:100%;left:0px;top:0px;}
.quiz-content{
  // display: none;
  .quiz-question{
    font-weight: bold;
    font-size: 32px;
    height: 88px;
    line-height: 44px;
    text-align: center;
    color: #00490F;
  }
  .quiz-cards{
    .card-content p{
      margin: 10px 20px;
      text-align: center;
      font-size: 18px;
      font-weight: 700;
      color: #00490F;
    }
  }
  .quiz-cards-col{
    display: flex;
    justify-content: center;
    // align-items: center;
    margin: 20px 0px 40px 0px;
    .quiz-card-col{
      max-width: 280px;
      min-height: 300px;
      margin: 0 1%;
      .card-content{
        padding: 0px;
        border: 2px solid #E0EED2;
        border-radius: 10px;
        box-sizing: border-box;
        cursor: pointer;
        width: 100%;
        height: 100%;
        background: #FFFFFF;
      }
      .card-content.active,.card-content:focus{
        border: 2px solid #00490F;
        box-shadow: 0px 0px 14px 4px rgba(0, 0, 0, 0.07);
      }
      .card-content .img-container{
        max-width: 276px;
        min-height: 170px;
        border-radius: 10px;
        background: #FFFFFF;
        img{
          display: block;
          border-radius: 10px;
        }
      }
    }
    @media screen and (max-width: $maxPhoneWidth) {
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: flex-start;
      margin: 10px 0;
      min-height: calc( 850 / 750 * 100vw);
      .quiz-card-col{
        margin: 0px 10px;
        width: calc(50% - 20px);
        max-width: 335px;
        height: auto;
        min-height: 100px;
        .card-content{ 
          height: auto;
          background: transparent;
        }
        .card-content p{
          min-height: 18px;
          font-size: 12px;
        }
        .card-content .img-container{
          max-width: 331px;
          min-height: 127px;
          padding-bottom: 0px;
          border: 2px solid #FFFFFF;
          background: #FFFFFF;
          
        }
        .card-content.active,.card-content:focus{
          border: 2px solid transparent;
          box-shadow: none;
          .img-container{
            border: 2px solid #00490F;
            box-shadow: 0px 0px 14px 4px rgba(0, 0, 0, 0.07);
          }
        }
      }
    }
  }
  .quiz-cards-row{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: 20px 0px 40px 0px;
    .quiz-card-row{
      margin: 2px 0px;
      width: 880px;
      height: 96px;
      .card-content{
        display: flex;
        align-items: center;
        padding: 0px;
        border: 2px solid #E0EED2;
        border-radius: 10px;
        box-sizing: border-box;
        cursor: pointer;
        width: 100%;
        height: 100%;
        background: #FFFFFF;
      }
      .card-content.active,.card-content:focus{
        border: 2px solid #00490F;
        box-shadow: 0px 0px 14px 4px rgba(0, 0, 0, 0.07);
      }
      .card-content .img-container{
        width: 597px;
        height: 100%;
        img{
          width: 100%;
          height: 100%;
          vertical-align: bottom;
          bottom: 0;
          -o-object-fit: fill;
          object-fit: fill;
          border-radius: 8px 0px 0px 8px;
        }
      }
      .card-content p{
        padding: 5px;
        width: calc(100% - 597px);
      }
    }
    @media screen and (max-width: $maxPhoneWidth){
      margin: 10px 0;
      min-height: calc( 850 / 750 * 100vw);
      .quiz-card-row{
        margin: 0px;
        width: 100%;
        height: auto;
        .card-content{
          flex-direction: column;
          background-color: transparent;
        }
        .card-content .img-container{
          width: 100%;
          height: 100%;
          border: 2px solid transparent;
          box-shadow: none;
          border-radius: 10px;
          img{
            border-radius: 10px;
          }
        }
        .card-content p{
          padding: 5px;
          width: 100%;
          font-size: 12px;
        }
        .card-content.active,.card-content:focus{
          border: 2px solid transparent;
          box-shadow: none;
          .img-container{
            border: 2px solid #00490F;
            box-shadow: 0px 0px 14px 4px rgba(0, 0, 0, 0.07);
          }
        }
      }
    }
  }
}
.recommend-content{
  position:relative;
  display:none;
  left:0px;
  top:0px;
  width:100%;
  .recommend-title{
    font-weight: bold;
    font-size: 32px;
    height: 88px;
    line-height: 44px;
    text-align: center;
    color: #00490F;
  }
  .recommend-cards{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    .recommend-main-product{
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 760px;
      min-height:100px;
      background-color: #fff;
      border-radius: 10px;
    }
    .recommend-main-product .dicount_txt{
      position: absolute;
      visibility: hidden;
      top: 10px;
      left: 10px;
      z-index: 6;
      width: 70px;
      height: 70px;
      img{
        display: block;
        width: 100%;
        height:100%;
      }
    }
    .recommend-main-product .discount_info{
      position: absolute;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      top: 0px;
      left: 0px;
      width: 100%;
      height: 100%;
      font-weight: 700;
      font-size: 12px;
      color: #000000;
      span{
        line-height: 120%;
      }
    }
    .recommend-main-product .img-container{
      width: 300px;
      vertical-align: middle;
      a{
        display: block;
      }
      img{
        display: block;
        max-width: 100%;
        height: auto;
      }
    }
    .recommend-main-product .txt {
      width: 450px;
      padding: 20px 40px;
      text-align: center;
    }
    .recommend-main-product .txt .product-thumbnail {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding-top: 0px;
      line-height: 1.2;
      .product-title{
        max-height: 66px;
        line-height: 33px;
        font-size: 24px;
        font-weight: 700;
        /* identical to box height */
        text-align: center;
        color: #000000;
      }
      .product-price{
        height: 30px;
        line-height: 30px;
        font-size: 16px;
        font-weight: 700;
        text-align: center;
        color: #000000;
        .discount_p{
          font-size: 18px;
          color: #00490F;
        }
        .normal_p {
          font-size: 14px;
          text-decoration: line-through;
          color: #00490F;
          opacity: 0.5;
        }
      }
      .product-desc{
        // height: 55px;
        font-size: 14px;
        line-height: 15px;
        text-align: center;
        color: #6D6D6D;
        .desc{ 
          display: -webkit-box;
          // height: 30px;
          overflow: hidden;
          text-overflow: ellipsis;
          -webkit-box-orient: vertical;
          -webkit-line-clamp: 3; /* 这里是超出几行省略 */
          overflow: hidden;
      
        }
      }
      .copyBox {
        display: none;
        // visibility: hidden;
        margin: 5px 0px;
        color: #00490F;
      }
      .copyBox .copyAct {
        display: inline-block;
        font-size: 14px;
        margin: 0 auto;
        border-radius: 20px;
      }
      .copyBox .codeformat {
        display: inline-block;
        line-height: 1.2;
      }
      .copyBox .codeTxt {
        display: inline-block;
        vertical-align: bottom;
        text-align: right;
      }
      .copyBox .copybtn {
        display: inline-block;
        vertical-align: bottom;
        cursor: pointer;
      }
      .copyBox .copybtn button {
        border: none;
        font-size: 14px;
        text-decoration: underline;
        background: transparent;
        border-radius: 20px;
        cursor: pointer;
        appearance: none;
      }
      .copyBox .copybtn button {
        color: #4a7743;
      }
    }
    .recommend-main-product .txt .btn-box{
      display: flex;
      justify-content: space-around;
      align-items: center;
      margin-top: 20px;
      width: 100%;
      .learn_more_btn{
        display: block;
        width: 176px;
        height: 42px;
        line-height: 38px;
        // background: #00490F;
        border: 2px solid #00490F;
        border-radius: 21px;
        font-weight: 600;
        font-size: 20px;
        color: #00490F;
      }
      .btn {
        display: block;
        width: 176px;
        height: 42px;
        line-height: 42px;
        background: #00490F;
        // border: 2px solid #00490F;
        border-radius: 21px;
        font-weight: 600;
        font-size: 20px;
        color: #fff;
      }
    }
    .recommend-other-product{
      display: flex;
      align-items: center;
      margin-top: 20px;
      width: 98%;
      min-height:200px;
      background-color: #fff;
      border-radius: 10px;
    }
    .recommend-other-product .alternative-choices{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: center;
      width: 20%;
      .alternative-link{
        cursor:default;
      }
      a{ 
        height: 40px;
        width: 40px;
        background: #C4C4C4;
        border-radius: 20px;
        line-height: 40px;
        .iconfont{ 
          vertical-align: top;
          font-size: 12px;
          color: #ffffff;
        }
      }
      p{
        color: #646464;
        font-size: 16px;
        line-height: 27px;
      }
    }
    .recommend-other-product .recommend-products {
      display: flex;
      justify-content: flex-start;
      width: 60%;
    }
    .recommend-other-product .recommend-product{
      display: flex;
      align-items: center;
      width: 50%;
      height: 150px;
      .recommend-product-img{
        width: 150px;
        height: 150px;
        z-index: 2;
        img{
          display: block;
          max-width: 100%;
          height: 100%;
        }
      }
      .recommend-product-desp{
        padding: 0px 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-end;
        width: 200px;
        height: 70px;
        border: 2px solid #000000;
        border-radius: 35px;
        margin-left: -150px;
        text-align: center;
        z-index: 1;
        opacity: 0;
        p{
          width: 150px;
          font-size: 16px;
          line-height: 20px;
          font-weight: bold;
        }
        a{
          width: 150px;
          color: #000000;
        }
      }
    }
    .recommend-other-product .quiz-again{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: center;
      width: 20%;
      a{ 
        height: 40px;
        width: 40px;
        background: #C4C4C4;
        border-radius: 20px;
        line-height: 40px;
        .iconfont{ 
          vertical-align: top;
          font-size: 12px;
          color: #ffffff;
        }
        &:hover{
          background: #00490F;
        }
      }
      p{
        color: #646464;
        font-size: 16px;
        line-height: 27px;
      }
    }
  }
  @media screen and (max-width: $maxPhoneWidth) {
    .recommend-title{
      font-size: calc( 36 / 750 * 100vw);
      line-height:calc( 40 / 750 * 100vw);
      height: calc( 80 / 750 * 100vw);
    }
    .recommend-cards{
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      .recommend-main-product{
        padding: 20px 0px;
        position: relative;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        width: calc(100% - 20px);
        min-height:100px;
        background-color: #fff;
        border-radius: 10px;
      }
      .recommend-main-product .img-container{
        width: 30%;
        vertical-align: middle;
      }
      .recommend-main-product .txt {
        width: 60%;
        min-width: 150px;
        padding: 20px 0px 0px 20px;
      }
      .recommend-main-product .txt .product-thumbnail {
        align-items: flex-start;
        .product-title{
          font-size: 28px;
          line-height: 110%;
          text-align: left
        }
        .product-price{
          font-size: 24px;
          line-height: 110%;
          .discount_p{
            font-size: 18px;
            color: #00490F;
          }
          .normal_p {
            font-size: 14px;
            text-decoration: line-through;
            color: #00490F;
            opacity: 0.5;
          }
        }
        .product-desc .desc{
          text-align: left;
        }

      }
      .recommend-main-product .btn-box{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin: 10px 0px;
        width: 100%;
      .learn_more_btn{
        margin: 5px;
        display: block;
        width: calc( 560 / 750 * 100vw);
        height: 42px;
        line-height: 38px;
        border: 2px solid #00490F;
        border-radius: 21px;
        font-weight: 600;
        font-size: 18px;
        color: #00490F;
      }
      .btn {
        margin: 5px;
        display: block;
        width: calc( 560 / 750 * 100vw);
        height: 42px;
        line-height: 42px;
        background: #00490F;
        // border: 2px solid #00490F;
        border-radius: 21px;
        font-weight: 600;
        font-size: 18px;
        color: #fff;
      }
      }
      .text{ 
        width: 100%;
        margin: 10px 0px;
        p{
          font-weight: 600;
          font-size: 24px;
          line-height: 33px;
          color: #646464;
          text-align: center;
        }
      }
      .recommend-other-product{
        margin-top: 0px;
        width: calc(100% - 20px);
        min-height: 310px;
      }
      .recommend-other-product .recommend-products {
        display: flex;
        justify-content: center;
        width: 100%;
        height: auto;
      }
      .recommend-other-product .recommend-product{
        flex-direction: column;
        padding: 20px 5px;
        width: 50%;
        height: auto;
        .recommend-product-img{
          width: 150px;
          height: 150px;
          z-index: 1;
          img{
            display: block;
            max-width: 100%;
            max-height: 100%;
          }
        }
        .product-title{
          margin-top: 10px;
          min-height: calc( 88 / 750 * 100vw);
          font-weight: 700;
          font-size: calc( 40 / 750 * 100vw);
          line-height: calc( 44 / 750 * 100vw);
          /* or 29px */
          text-align: center;
          color: #000000;
        }
        .recommend-product-desp{
          margin-top: 10px;
          padding: 0px 10px;
          align-items: center;
          width: 80%;
          height: 38px;
          line-height: 34px;
          border: 2px solid #000000;
          border-radius: 20px;
          margin-left: 0px;
          text-align: center;
          z-index: 1;
          opacity: 1;
          a{
            width: 100%;
            font-weight: 600;
            font-size: 18px;
            line-height: 110%;
          }
        }
      }
      .quiz-again-link{
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 20px;
        width: 334px;
        min-height: 42px;
        height: calc( 68 / 750 * 100vw);
        background: #FFFFFF;
        border-radius: 34px;
        font-weight: 700;
        font-size: 24px;
        color: #939595;
      }
    }
  }
}
.quiz-buttons{
  display: flex;
  justify-content: center;
}
.quiz-buttons .hidden{
  visibility: hidden;
}
.button-back{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px 20px 20px 20px;
  width: 187px;
  height: 38px; 
  line-height: 38px;
  box-sizing: border-box;
  border-radius: 19px; 
  border: 2px solid #fff;
  background: #fff;
  .button-text{
    display: flex;
    align-items: center;
    padding: 0px 20px;
    font-size: 14px;
    font-weight: 700;
    color: #C5C8C6;
    span{ 
      margin-left: 5px;
    }
    .icon{
      width: 10px;
      height: 10px;
    }
    .iconfont{
      font-size: 12px;
    }
  }
}
.button-back:active,.button-back:hover,.button-back:focus{
  .button-text{ 
    color: #AD3333;
  }
}
.button-next{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px 20px 20px 20px;
  width: 187px;
  height: 38px; 
  line-height: 38px;
  box-sizing: border-box; 
  border-radius: 19px; 
  border: 2px solid #00490F;
  background: #fff;
  .button-text{ 
    display: flex;
    align-items: center;
    padding: 0px 20px;
    font-size: 14px;
    font-weight: 700;
    color: #00490F;
    span{ 
      margin-right: 5px;
    }
    .icon{
      width: 10px;
      height: 10px;
    }
    .iconfont{
      // margin: 0px 5px;
      font-size: 12px;
    }
  }
}
.button-next.is-disabled{
  cursor: not-allowed;
  opacity: 0.5;
}
.button-next.is-disabled:active,.button-next.is-disabled:focus{
  background: #fff;
  .button-text{
    color: #00490F;
  }
}
.button-next:active,.button-next:focus{
  background: #00490F;
  .button-text{
    color: #fff;
  }
}
@media screen and (min-width: $minPadWidth) and (max-width: 1199px){
  .dialog-container{
    min-width: 760px;
    width: 90%;
  }
  .dialog-body{
    padding: 30px 0px;
    .quiz-content .quiz-cards .card-content p{
      font-size: 16px;
    }
  }
}
@media screen and (max-width: $maxPhoneWidth){
  .dialog-container {
    width: 100%;
    height: auto;
    min-height: 750px;
    border: none;
  }
  .dialog-body{
    padding: 10px;
    .quiz-container{
      position: relative;
      width: 100%;
      height: auto;
      min-height: 600px;
      .quiz-buttons{
        margin-top: 10px;
        width: 100%;
      }
    }
    .quiz-content{
      height: auto;
      // min-height: 520px;
      .quiz-question{
        font-size: calc( 36 / 750 * 100vw);
        line-height:calc( 40 / 750 * 100vw);
        height: calc( 80 / 750 * 100vw);
      }
      .quiz-cards{
        .card-content p{
          margin: 10px 8%;
          color: #00490F;
        }
      }
    }
  }
}
