.t2273_feature_1 {
  position: relative;
  background: #fff;
  height: 100vh;
  margin-top: 20px;
  margin-bottom: 20px;
  .pin-box {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: 20vw;
    transform: translateY(-50%);
    @media screen and (max-width: 1200px) {
      display: none;
    }
    p {
      width: 340px;
      font-size: 14px;
      color: rgba(145, 143, 143, 0.7);
      margin-top: 20px;
    }
  }
  .item {
    position: absolute;
    width: 100%;
    height: 100%;
    .box {
      box-sizing: border-box;
      position: absolute;
      top: 0;
      left: 50%;
      margin-left: -39.58vw;
      width: 79.16vw;
      height: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      @media screen and (max-width: 1200px) {
        width: 100%;
        left: 0;
        margin-left: 0;
      }
      @media screen and (max-width: 798px) {
        flex-direction: column;
        justify-content: center;
        text-align: center;
        padding: 0;
        .text, img {
          position: static;
        }
        img {
          width: 39.25vw;
          margin: 0 auto;
        }
        .text, .tip {
          width: 100%;
          text-align: center;
        }
        .text {
          margin-top: 4.6vw;
          h3 {
            font-size: 5.7vw;
          }
          p {
            font-size: 2.96vw;
            width: 75vw;
            margin: 0 auto;
            margin-top: 4.2vw;
          }
        }
        .tip {
          font-size: 12px;
          padding: 0 30px;
          margin-top: 6.3vw;
        }
      }
    }
    img {
      position: absolute;
      width: 18.59vw;
      top: 50%;
      left: 50%;
      margin-left: -9.29vw;
      margin-top: -9.29vw;
      opacity: 0;
      transition: all 0.5s;
    }
    .text {
      width: 20.36vw;
      opacity: 0;
      transform: translate3d(0, 200%, 0);
      transition: all 0.5s;
      padding: 0 15px;
      h3 {
        font-size: 1.87vw;
        margin-bottom: 1.56vw;
      }
      p {
        font-size: 1.04vw;
      }
    }
    .tip {
      width: 21.51vw;
      color: rgba(131, 131, 131, 0.7);
      opacity: 0;
      transition: all 0.5s;
      margin-top: 2.6vw;
    }
    .bg1, .bg2 {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      opacity: 0;
      transition: all 0.5s;
    }
    .bg2 {
      transition: all 2s;
    }
  }
  .active {
    z-index: 1;
    .text, .tip {
      opacity: 1;
      transform: translate3d(0, 0, 0);
    }
    img {
      opacity: 1;
    }
    .act-img {
      &.bg1, &.bg2 {
        opacity: 1;
      }
    }
    .p1 {
      opacity: 1;
      transform: translate3d(0, 14vh, 0);
      @media screen and (max-width: 798px) {
        transform: translate3d(0, 0, 0);
      }
    }
  }
  .remove {
    .text, .tip {
      opacity: 0;
      transform: translate3d(0, -200%, 0);
    }
    img {
      opacity: 0;
    }
  }
}
.t2273_feature_2 {
  position: relative;
  width: 79.16vw;
  margin: 0 auto;
  margin-bottom: 10vw;
  @media screen and (max-width: 798px) {
    width: 88.88vw;
  }
  video {
    display: block;
  }
  iframe {
    width: 100%;
    height: calc(9 / 16 * 79.16vw);
    @media screen and (max-width: 798px) {
      height: calc(16 / 9 * 88.88vw);
    }
  }
  .tip {
    font-size: 14px;
    color: #9F9F9F;
    margin-top: 0.93vw;
    @media screen and (max-width: 798px) {
      font-size: 12px;
    }
  }
  .days {
    position: absolute;
    width: 100px;
    height: 100px;
    top: 3vw;
    left: 50%;
    margin-left: -50px;
    z-index: 2;
    @media screen and (max-width: 798px) {
      top: 18.7vw;
    }
  }
  span {
    position: absolute;
    color: #fff;
    -webkit-mask-image: linear-gradient(rgba(255, 255, 255, 1), rgba(255, 255, 255, 0.3));
    mask-image: linear-gradient(rgba(255, 255, 255, 1), rgba(255, 255, 255, 0.3));
  }
  .t1 {
    top: -0.8vw;
    left: -2.6vw;
    font-weight: 600;
    font-size: 8vw;
    @media screen and (max-width: 798px) {
      top: -8.8vw;
      left: -7.6vw;
      font-size: 26vw;
    }
  }
  .t2 {
    top: 0;
    left: 7vw;
    font-size: 3.4vw;
    @media screen and (max-width: 798px) {
      top: -4vw;
      left: 22vw;
      font-size: 8vw;
    }
  }
  .t3 {
    top: 4vw;
    left: 7vw;
    writing-mode: vertical-rl;
    font-size: 2vw;
    @media screen and (max-width: 798px) {
      top: 5vw;
      left: 22vw;
      writing-mode: vertical-rl;
      font-size: 7vw;
    }
  }
}

.image-banner-section .media-info-wrap .heading {
  margin-bottom: 20px;
}
@media screen and (min-width: 1921px) {
  .image-banner-section .media-info-wrap .heading {
    font-size: 2.2vw;
  }
  
  .image-banner-section .media-info-wrap .text.paragraph {
    font-size: 1vw;
  }
}

@media screen and (max-width: 798px) {
  .image-swiper-section .swiper-nav-buttons {
    top: 50%!important;
    transform: translate(-50%, -50%);
    .swiper-prev-button {
      position: relative;
      left: -38px
    }
    .swiper-next-button {
      position: relative;
      left: 38px
    }
  }
  .image-banner-section .media-info-wrap .text.paragraph {
    font-size: 3vw;
  }
}