@media (max-width: 769px) {
  #shopify-section-announcement-bar {
    display: none !important;
  }
  #shopify-section-header-classic {
    display: none !important;
  }
  .v2_top_bar_section {
    display: none !important;
  }
  .v2_top_bar_section_db {
    display: block !important;
  }
}

.images_rotate {
  display: none !important;
}
.whatsbox {
  display: none !important;
}
.RollingList {
  display: none !important;
}
.text_image2 {
  display: none !important;
}
#text_image1_3 {
  display: none !important;
}
