<main class="shopify-section index-sections" data-check-for-order="true">
  {{ content_for_index }}
</main>
<script>
  $(document).ready(function () {
    referralTrack('referarls', 'home', 'page');
  })
</script>