<div id="m-1621389875725">
  <div class="subscribeBox">
    <div class="box">
      {% render 'subscribe-deals-form',
        snippets_id: 'bbm_signup',
        deals_type: 'bbm_signup',
        submit_btn_txt: 'Sign up',
				heading_text: "Sign up to be in with the chance to win a free eufy Baby Monitor!",
				subheading_text: "One lucky winner will be chosen each month.",
				subscribe_tips: "testtesttesttesttesttest",
				show_email_icon: true
      %}
    </div>
  </div>
</div>

<style>
  #m-1621389875725{
	background: #EDF7FE;
}
#m-1621389875725 .box{
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
	text-align: center;
	padding: 5rem 0;
}
</style>
