
.slideshow-with-text {
    .has-gutter-enabled {
      .image-slideshow {
        @include respond-to('medium-down') {
          margin-bottom: $gutter;
        }
      }
    }
  
    .text-slideshow__heading.banner__subheading {
      font-size: 14px;
      font-weight: 400;
    }
  
    .text-slideshow__heading.banner__heading {
      font-size: 30px;
      font-weight: 600;
    }
  
    .flickity-prev-next-button.next {
      right: 0;
    }
  
    .flickity-prev-next-button.previous {
      left: 0;
    }
  }
  
  
  
  .image-slideshow {
    opacity: 0;
    transition: opacity 0.4s;
    width: 100%;
    margin: 0 auto;
  
    @include respond-to('medium-down') {
      @include order(1);
    }
  
    .placeholder-svg {
      height: 500px;
      @include respond-to('medium-down') {
        height: 300px;
      }
    }
  
    .flickity-buttons-container {
      position: absolute;
      @include flexbox();
      bottom: 20px;
      right: 20px;
  
      @include respond-to('medium-down') {
        display: none;
      }
    }
  
    .flickity-button {
      position: relative;
      @include prefix(transform, none, ms webkit spec);
  
      &:first-child {
        margin-right: 10px;
      }
    }
  }
  
  .image-slideshow-position--left {
    .flickity-buttons-container {
      left: 5%;
      right: auto;
    }
  }
  
  .image-slideshow-position--right {
    @include order(2);
  
    @include respond-to('medium-down') {
      @include order(0);
    }
  }
  
  .image-slideshow.flickity-enabled {
    opacity: 1;
    height: auto;
  }
  
  .image-slideshow__slide {
    width: 100%;
  
    .image-element__wrap {
      width: 100%;
      height: auto;
    }
  }
  
  .text-slideshow {
    @include flexbox();
    @include flex-direction(column);
    @include justify-content(center);
    width: 100%;
    height: 100%;
  
    .flickity-viewport,
    .flickity-slider {
      height: 100%;
    }
  
    .flickity-page-dots {
      @include align-self(flex-end);
      position: static;
      padding-bottom: 3em;
  
      @include respond-to('medium-down') {
        padding-top: 3em;
        padding-bottom: 0;
        @include order(-1);
      }
  
    }
  
    &.flickity-page-dots--hidden {
      .flickity-page-dots {
        display: none;
  
        @include respond-to('medium-down') {
          display: block;
        }
      }
    }
  }
  
  .text-slideshow__slide {
    width: 100%;
    @include flexbox();
    @include align-items(center);
    padding: 3em;
  }
  
  .text-slideshow__content {
    width: 100%;
    opacity: 0;
    animation-delay: 0.2s;
  
    &.animated.none {
      opacity: 1;
    }
  
    .button {
      margin-top: 10px;
    }
  }
  
  .text-slideshow__heading {
    padding-bottom: 20px;
    line-height: 1.5;
    margin: 0;
  
    &.subtitle {
      font-size: $body-size;
    }
  }
  
  /* # Slideshow - classic
  ================================================== */
  
  .slideshow-classic {
    width: 100%;
  
    &.page-dots--true {
      @include respond-to('small-down') {
        padding-bottom: 25px;
        margin-bottom: 25px;
      }
    }
  
    .flickity-prev-next-button .flickity-button-icon {
      position: absolute;
      left: 50%;
      top: 50%;
      width: 45%;
      height: 45%;
      transform: translateX(-50%) translateY(-50%);
    }
  
    .mobile-text--over-media .caption {
      top: 50%;
      @include prefix(transform, translate(-50%, -50%), ms webkit spec);
      @media only screen and (max-width: 767px) {
        top: 30%;
        @include prefix(transform, translate(-50%, 0), ms webkit spec);
      }
    }
  
    .mobile-text--below-media .caption {
      @include respond-to('small-down') {
        position: static;
        text-align: center;
        padding: 30px;
        margin: 0;
      }
    }
  
    .gallery-cell {
      width: 100%;
  
      .image-element__wrap {
        width: 100%;
      }
  
      @include respond-to('small-down') {
        display: block;
      }
    }
  
    .flickity-button,
    .flickity-page-dots {
      position: absolute;
      top: auto;
      bottom: 25px;
    }
  
    .flickity-button {
      z-index: 10;
  
      @include respond-to('small-down') {
        display: none;
      }
    }
  
    .flickity-page-dots {
      bottom: 40px;
  
      @include respond-to('small-down') {
        bottom: 0;
      }
    }
  }
  
  .slideshow-classic__buttons {
    @include justify-content(flex-start);
    @media screen and (max-width: 767px) {
      @include justify-content(center);
    }
  
    &.are-small {
      max-width: 300px;
    }
  
    &.are-regular {
      max-width: 400px;
    }
  
    &.are-large {
      max-width: 500px;
    }
  
    &.is-justify-left {
      @include justify-content(flex-start);
    }
  
    &.is-justify-right {
      @include justify-content(flex-end);
    }
  
    &.is-justify-center {
      @include justify-content(center);
    }
  
    .button {
      @include flex(0 0 calc(50% - 6px));
      margin-bottom: 12px;
      white-space: normal;
      margin-left: 0;
      margin-right: 0;
  
      // Used to overwrite styling issues on IE11
      @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
        width: 100% !important;
        max-width: calc(50% - 6px) !important;
        margin: 0px auto;
      }
  
      @include respond-to('small-down') {
        flex: 1 0 100%;
      }
    }
  }
  
  .slideshow-classic__banner {
    overflow: hidden;
    position: relative;
  
    @include respond-to('medium-down') {
      overflow: visible;
    }
  
    h2.title {
      font-weight: 700;
      font-size: 30px;
    }
  
    .slideshow-classic__subheading {
      padding: 10px 0 0;
      @media only screen and (max-width: 767px) {
        font-size: 15px;
      }
    }
  
    .placeholder-svg {
      min-height: 400px;
    }
  }
  
  /* # Testimonial
  ================================================== */
  
  .testimonials {
    @include flexbox();
  
    &:after {
      content: 'flickity';
      display: none;
    }
  }
  
  .testimonial-block {
    @include flexbox();
    @include flex-wrap(wrap);
    @include justify-content(space-between);
    min-height: 100%;
    overflow: hidden;
  
    @include respond-to('medium-down') {
      margin-bottom: 20px;
      min-height: initial;
    }
  
    &.testimonial-border--true {
      border: thin solid $border;
    }
  
    &.testimonial-align--center {
  
      .testimonial__description,
      .testimonial__name {
        @include justify-content(center);
        text-align: center;
      }
  
      .testimonial__image {
        left: 50%;
        margin-left: -50px;
      }
    }
  }
  
  .testimonial__description,
  .testimonial__name {
    @include flexbox();
    @include flex-direction(column);
    @include justify-content(center);
    text-align: left;
    width: 100%;
    position: relative;
  }
  
  .testimonial__name {
    @include align-self(flex-end);
    padding: 70px 40px 25px;
    max-height: 175px;
    height: 175px;
  
    @include respond-to('large-down') {
      font-size: 0.85rem;
    }
  
    @include respond-to('medium-down') {
      font-size: 1rem;
      max-height: 23vh;
      height: 23vh;
    }
  }
  
  .testimonial__description {
    @include align-self(center);
    padding: 40px;
    height: 100%;
    min-height: 250px;
  }
  
  .testimonial__image {
    position: absolute;
    margin-top: -50px;
    height: 100px;
    width: 100px;
    max-width: 100px;
    max-height: 100px;
    top: 0;
  
    &.image-style--circle img,
    &.image-style--circle svg {
      border-radius: 50%;
    }
  }
  
  .testimonial__nav-wrapper {
    @include justify-content(flex-end);
  
    @include respond-to('small-down') {
      @include justify-content(space-between);
    }
  }
  
  .testimonial__nav {
    color: $link;
    margin-bottom: 10px;
    cursor: pointer;
  
    &:first-child {
      margin-right: 10px;
    }
  
    &:hover {
      color: $link-hover;
    }
  }
  
  .testimonial-block.has-images-enabled-true {
    .testimonial__name {
      margin-top: 40px;
    }
  }
  
  .testimonial-block.has-images-enabled-false {
    .testimonial__name
    .testimonial__description {
      padding: 40px;
    }
  }
  
  .is-width-wide .testimonial__nav:last-child {
    margin-right: 10px;
  }
  
  .mobile-slider .testimonials {
  
    &:after {
      @include respond-to('medium-up') {
        content: '';
      }
    }
  }
  
  .desktop-slider--disabled {
  
    .testimonial__nav-wrapper {
      @include respond-to('medium-up') {
        display: none;
      }
    }
  
    .testimonial__description {
      height: initial;
    }
  }